/**
 * Basic Twenty Seventeen support (really, really basic)
 */

// SETTINGS
@import "settings/settings";
@import "settings/mixins";
@import "node_modules/sass-mq/mq";

// Twenty Seventeen link
@mixin link() {
	box-shadow: 0 1px 0 rgba(15, 15, 15, 1);
	transition: box-shadow ease-in-out 130ms;

	&:hover {
		box-shadow: 0 3px 0 rgba(15, 15, 15, 1);
	}
}

/*--------------------------------------------------------------
>>> LOOPS
----------------------------------------------------------------
*/

.button--view-room-details {
	@include link();
}

/*--------------------------------------------------------------
>>> PAGINATION
----------------------------------------------------------------
*/

.pagination__item {
	.next.page-numbers,
	.prev.page-numbers {
		float: none;
	}
}

/*--------------------------------------------------------------
>>> PAGE: SINGLE ROOM
----------------------------------------------------------------
*/

.single-featured-image-header {
	display: none;
}

.room__gallery-link--single {
	@include link();
}

/*--------------------------------------------------------------
>>> PAGE: BOOKING
----------------------------------------------------------------
*/

.payment-method {
	padding-left: 1px;
}

/*--------------------------------------------------------------
>>> WIDGET: SEARCH
----------------------------------------------------------------
*/

.form--room-search {
	position: relative;
}

.button--room-search {
	bottom: 3px;
	margin-top: 0;
	padding: 0.5em 1em;
	position: absolute;
	right: 3px;
	top: 3px;
}

/*--------------------------------------------------------------
>>> WIDGET: ROOMS
----------------------------------------------------------------
*/

.widget-rooms__item {
	margin-bottom: 0;
	min-height: 92px;
}

.widget-rooms__thumbnail {
	box-shadow: none !important;
}

/*--------------------------------------------------------------
>>> WIDGET: ROOMS FILTER
----------------------------------------------------------------
*/

.widget-rooms-filter__group-list {
	margin-bottom: $space !important;
}

.widget-rooms-filter__group-item--chosen {
	padding-left: 1.5em !important;

	&:before {
		top: 10px;
	}
}

/*--------------------------------------------------------------
>>> WIDGET: BOOKING
----------------------------------------------------------------
*/

.widget-booking__rooms-list {
	margin-top: $space !important;
}
