/*--------------------------------------------------------------
>>> MIN MAX INFO
----------------------------------------------------------------
*/

.room__min-max-stay {
	@include font-size(12px);
	display: block;
	font-style: italic;
	margin-top: $space;
}

.room__min-max-stay--single {
	margin-bottom: $space;
	margin-top: 0;
}

.room__min-max-stay--rate-single {
	margin-bottom: $space;
}

.room__min-max-stay--rate-listing {
	margin-bottom: $space;

	@media (min-width: 480px) {
		margin-bottom: 0;
		margin-top: 0;
	}
}
