/*--------------------------------------------------------------
>>> TABLES
----------------------------------------------------------------
*/

.reservation-table__room-rate {
	display: block;
}

.view-price-breakdown {
	@include font-size(11px);
	display: block;
}

.price-breakdown-wrapper,
.reservation-table__row--price-breakdown {
	border: 0;
	padding: 0;
}

.table--price-breakdown {
	border-collapse: separate;
	margin-bottom: 0;
	padding: $space;
}

.credit-cards__list {
	@include clear-list;
	margin-bottom: 0;
}

.credit-cards__icon {
	display: inline-block;
	height: 48px;
	margin-bottom: 4px;
	position: relative;
	text-indent: -99999px;
	width: 76px;

	&:before {
		background-color: #fff;
		background-position: 0 0;
		background-repeat: no-repeat;
		border: 1px solid #eee;
		content: '';
		display: inline-block;
		height: 48px;
		left: 0;
		position: absolute;
		top: 0;
		width: 76px;
	}
}

.credit-cards__icon--mastercard:before {
	background-image: url(../images/cards/mastercard.svg);
}

.credit-cards__icon--amex:before {
	background-image: url(../images/cards/amex.svg);
}

.credit-cards__icon--cirrus:before {
	background-image: url(../images/cards/cirrus.svg);
}

.credit-cards__icon--discover:before {
	background-image: url(../images/cards/discover.svg);
}

.credit-cards__icon--maestro:before {
	background-image: url(../images/cards/maestro.svg);
}

.credit-cards__icon--visa:before {
	background-image: url(../images/cards/visa.svg);
}

.credit-cards__icon--visa_e:before {
	background-image: url(../images/cards/visa_e.svg);
}

.reservation-table__room-non-cancellable {
	@include font-size(14px);
	color: red;
	display: block;
	font-style: italic;
	font-weight: bold;
}
