/**
 * Hello Elementor Styles
 */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Global
# Single Room
# Listing Page
# Booking Page
# Widgets
# Extensions
*/
/*--------------------------------------------------------------
>>> GLOBAL
----------------------------------------------------------------
*/
/* Notices */
.hotelier-notice {
  font-family: "Roboto", Sans-serif;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
}

.hotelier-notice--info {
  color: #313131;
  background-color: #F4F4F4;
}

.hotelier-notice--error {
  color: #FF3100;
  background-color: #FFEDED;
}

/* Cart errors */
/* No rooms found */
/* Loops */
.room-loop__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column-gap: 30px;
  grid-row-gap: 35px;
}

.rooms-grid-6 .room-loop__list {
  grid-template-columns: repeat(6, 1fr);
}

.rooms-grid-5 .room-loop__list {
  grid-template-columns: repeat(5, 1fr);
}

.rooms-grid-4 .room-loop__list {
  grid-template-columns: repeat(4, 1fr);
}

.rooms-grid-3 .room-loop__list {
  grid-template-columns: repeat(3, 1fr);
}

.rooms-grid-2 .room-loop__list {
  grid-template-columns: repeat(2, 1fr);
}

.rooms-grid-1 .room-loop__list {
  grid-template-columns: repeat(1, 1fr);
}

.room-loop__item {
  margin: 0;
  padding: 0;
  width: auto;
  border-style: solid;
  overflow: hidden;
  transition: all .25s;
  position: relative;
}

.rooms-grid--align-left .room-loop__item {
  text-align: left;
}

.rooms-grid--align-right .room-loop__item {
  text-align: right;
}

.rooms-grid--align-center .room-loop__item {
  text-align: center;
}

.room__thumbnail {
  display: block;
  position: relative;
}

.room__thumbnail img {
  vertical-align: middle;
}

.room__text-wrapper {
  padding-top: 20px;
}

.room__text-wrapper > * {
  margin-bottom: 10px;
}

.room__text-wrapper > *:last-child {
  margin-bottom: 0;
}

.room__name {
  font-size: 18px;
  margin: 0 0 10px;
}

.room__name,
.room__link {
  color: #54595F;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  box-shadow: none;
  text-decoration: none;
}

.rooms-grid-shortcode .room__link {
  text-decoration: none !important;
}

.room__description--loop {
  color: #7A7A7A;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}

.room__description--loop p {
  font-size: 14px;
  margin: 0;
}

.room__price--loop {
  display: block;
  font-size: 15px;
}

.room__price--loop .amount {
  font-weight: 600;
}

.button--view-room-details {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  background: #818a91;
  padding: 0.7em 1.3em;
  font-weight: 500;
  transition: all .25s;
  font-family: "Roboto", Sans-serif;
  text-decoration: none !important;
}

.button--view-room-details:hover, .button--view-room-details:focus {
  color: #fff;
  background: #818a91;
}

.room__badge--category {
  position: absolute;
  top: 0;
  background: #818a91;
  color: #fff;
  font-size: 12px;
  padding: 0.6em 1.2em;
  line-height: 1;
  font-weight: 400;
  margin: 20px;
}

.pagination__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__list a {
  text-decoration: none !important;
}

.pagination__item {
  padding: 0 5px;
  display: inline-block;
  margin-right: calc( 10px/2);
}

.pagination__item::last-child {
  margin-right: 0;
}

/*--------------------------------------------------------------
>>> DATEPICKER
----------------------------------------------------------------
*/
.datepicker-form {
  position: relative;
}

.datepicker-input-select-wrapper {
  margin-right: 5px;
  display: inline-block;
  min-width: 270px;
}

.button--datepicker {
  outline: none !important;
}

.datepicker-input-select {
  margin: 0;
  width: 100%;
}

.datepicker-input-select:hover {
  cursor: pointer;
}

.datepicker-input-select:focus {
  outline: none;
}

.datepicker {
  background-color: #fff;
  box-shadow: 0px 7px 25px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 240px;
  z-index: 999999;
  border: 1px solid rgba(230, 230, 230, 0.8);
}

.datepicker table,
.datepicker caption,
.datepicker th,
.datepicker td {
  text-align: center;
  background-color: #fff !important;
}

.datepicker table {
  border-top: none !important;
}

.datepicker-form--rounded .datepicker {
  border-radius: 10px;
}

.datepicker-form--inline .datepicker--inline {
  position: relative;
}

.datepicker-form--inline .button--datepicker,
.datepicker-form--inline .datepicker-input-select {
  display: none;
}

.datepicker--topbar-bottom .datepicker__months {
  padding-bottom: 20px;
}

.datepicker__inner {
  overflow: hidden;
  padding: 20px;
}

.datepicker__month {
  border-collapse: collapse;
  border: none;
  margin-bottom: 0;
  width: 100%;
  table-layout: fixed;
}

.datepicker__month--month2 {
  display: none;
}

.datepicker__month-day--valid {
  cursor: pointer;
}

.datepicker__month-day--lastMonth,
.datepicker__month-day--nextMonth {
  visibility: hidden;
}

.datepicker__info--feedback {
  display: none;
}

.datepicker__info--error,
.datepicker__info--help {
  display: block;
}

.datepicker__month-button {
  cursor: pointer;
}

.datepicker__tooltip {
  font-size: 11px;
  background-color: #333;
  border-radius: 2px;
  color: #fff;
  margin-top: -5px;
  padding: 5px 10px;
  position: absolute;
}

.datepicker__tooltip:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #333;
  bottom: -4px;
  content: '';
  left: 50%;
  margin-left: -4px;
  position: absolute;
}

.datepicker__month-caption th {
  border: none !important;
  padding-bottom: 5px;
  padding-top: 25px;
}

.datepicker--topbar-bottom .datepicker__month-caption th {
  padding-top: 0;
}

.datepicker__month-name {
  font-size: 14px;
}

.datepicker__week-days {
  vertical-align: middle;
}

.datepicker__week-name {
  border: none;
  font-size: 12px;
  font-weight: bold;
  padding: 19px 7px 12px 7px !important;
}

.datepicker__month-day {
  transition: all 150ms ease-in-out;
  border: none;
  padding: 7px !important;
  font-weight: 400;
  font-size: 13px;
}

.datepicker__month-day:hover {
  background-color: #CC3366 !important;
  color: #fff;
}

td.datepicker__month-day--invalid {
  color: #C6C6C6;
}

td.datepicker__month-day--invalid:hover {
  color: #C6C6C6;
  background-color: #fff !important;
}

td.datepicker__month-day--disabled {
  color: #C6C6C6;
  position: relative;
}

td.datepicker__month-day--disabled:after {
  color: #FF3100;
  content: '\00d7';
  font-size: 16px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

td.datepicker__month-day--today {
  background-color: #333333 !important;
  color: #fff;
}

td.datepicker__month-day--today:hover {
  background-color: #333333 !important;
  color: #fff;
}

td.datepicker__month-day--selected,
td.datepicker__month-day--selected:hover {
  background-color: #f3f3f3 !important;
  color: #CC3366;
  font-weight: bold;
}

td.datepicker__month-day--hovering,
td.datepicker__month-day--hovering:hover {
  background-color: #f3f3f3 !important;
  color: #CC3366;
}

td.datepicker__month-day--first-day-selected,
td.datepicker__month-day--last-day-selected,
td.datepicker__month-day--first-day-selected:hover,
td.datepicker__month-day--last-day-selected:hover {
  background-color: #CC3366 !important;
  color: #fff;
  font-weight: bold;
}

.datepicker-form--rounded td.datepicker__month-day--today {
  border-radius: 10px;
}

.datepicker-form--rounded td.datepicker__month-day--first-day-selected {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.datepicker-form--rounded td.datepicker__month-day--last-day-selected {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.datepicker__month-day--last-day-selected:after {
  content: none;
}

.datepicker__topbar {
  font-size: 14px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
  position: relative;
}

.datepicker--topbar-bottom .datepicker__topbar {
  border-bottom: none;
  border-top: 1px solid #e6e6e6;
  padding-top: 20px;
  padding-bottom: 0;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.datepicker__info-text--selected-days {
  font-style: normal;
}

.datepicker__info--error {
  color: #FF3100;
}

.datepicker__close-button,
.datepicker__clear-button,
.datepicker__submit-button {
  cursor: pointer;
  font-size: 12px !important;
  margin-top: 20px !important;
  padding: 0.3rem .75rem !important;
  outline: none !important;
}

.datepicker__close-button:disabled, .datepicker__close-button[disabled],
.datepicker__clear-button:disabled,
.datepicker__clear-button[disabled],
.datepicker__submit-button:disabled,
.datepicker__submit-button[disabled] {
  cursor: not-allowed;
}

.datepicker__clear-button + .datepicker__submit-button {
  margin-left: 10px;
}

.datepicker__buttons .datepicker__clear-button,
.datepicker__buttons .datepicker__submit-button {
  margin-top: 0 !important;
}

.datepicker--topbar-bottom .datepicker__buttons .datepicker__clear-button,
.datepicker--topbar-bottom .datepicker__buttons .datepicker__submit-button {
  margin-top: 20px !important;
}

@media (min-width: 340px) {
  .datepicker {
    width: 300px;
  }
  .datepicker__month-button--disabled {
    visibility: hidden;
  }
}

@media (min-width: 570px) {
  .datepicker {
    width: 520px;
  }
  .datepicker__months {
    overflow: hidden;
    position: relative;
  }
  .datepicker__months:before {
    background: #e6e6e6;
    bottom: 0;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
  }
  .datepicker--topbar-bottom .datepicker__inner:before {
    background: #e6e6e6;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 0;
    height: 100px;
    width: 1px;
  }
  .datepicker__month {
    width: 230px !important;
  }
  .datepicker__month--month1 {
    float: left;
  }
  .datepicker__month--month2 {
    display: table;
    float: right;
  }
  .datepicker__close-button {
    margin-top: 0 !important;
    position: absolute;
    right: 0;
    top: -4px;
  }
  .datepicker--topbar-bottom .datepicker__close-button {
    margin-top: 20px !important;
    right: 20px;
    top: 0;
  }
  .datepicker__buttons {
    margin-top: 0 !important;
    position: absolute;
    right: 0;
    bottom: 50%;
  }
  .datepicker--topbar-bottom .datepicker__buttons {
    right: 20px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}

@media only screen and (min-width: 768px) {
  .datepicker-form {
    display: flex;
  }
  .datepicker-input-select {
    flex-grow: 1;
  }
}

@media (min-width: 960px) {
  .datepicker {
    width: 630px;
  }
  .datepicker__inner {
    padding: 30px;
  }
  .datepicker__month {
    width: 260px !important;
  }
  .datepicker--topbar-bottom .datepicker__topbar {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }
  .datepicker--topbar-bottom .datepicker__close-button {
    margin-top: 30px !important;
    right: 30px;
  }
  .datepicker--topbar-bottom .datepicker__buttons {
    right: 30px;
  }
  .datepicker--topbar-bottom .datepicker__buttons .datepicker__clear-button,
  .datepicker--topbar-bottom .datepicker__buttons .datepicker__submit-button {
    margin-top: 30px !important;
  }
}

@media (min-width: 1500px) {
  .datepicker {
    width: 740px;
  }
  .datepicker__month {
    width: 320px !important;
  }
}

@media (max-width: 1024px) {
  .rooms-grid-tablet-6 .room-loop__list {
    grid-template-columns: repeat(6, 1fr);
  }
  .rooms-grid-tablet-5 .room-loop__list {
    grid-template-columns: repeat(5, 1fr);
  }
  .rooms-grid-tablet-4 .room-loop__list {
    grid-template-columns: repeat(4, 1fr);
  }
  .rooms-grid-tablet-3 .room-loop__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .rooms-grid-tablet-2 .room-loop__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .rooms-grid-tablet-1 .room-loop__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 767px) {
  .rooms-grid-mobile-6 .room-loop__list {
    grid-template-columns: repeat(6, 1fr);
  }
  .rooms-grid-mobile-5 .room-loop__list {
    grid-template-columns: repeat(5, 1fr);
  }
  .rooms-grid-mobile-4 .room-loop__list {
    grid-template-columns: repeat(4, 1fr);
  }
  .rooms-grid-mobile-3 .room-loop__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .rooms-grid-mobile-2 .room-loop__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .rooms-grid-mobile-1 .room-loop__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
