// Accent color
$color__accent: #1ea7de;
$color__accent__light: #dcf3fc;

// Utilities
$color__light: #F2F2F2;
$color__medium: #eee;
$color__dark: #333;
$color__green: #3EC170;

// Text colors
$color__text__default: #666;
$color__text__dark: #333;

// Lines
$color__line__default: #E6E6E6;
