///*--------------------------------------------------------------
//>>> SETTINGS
//----------------------------------------------------------------
//*/

// Font size
$font__size:   13px;

// Line height
$line__height: 1.5;

// Letter spacing
$letter__spacing: -0.25px;

// Font family
$font__family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// Spacing variables based on the line height
$space:     9px;
$space__x2: round(2 * $space);
$space__x3: round(3 * $space);
$space__x4: round(4 * $space);
$space__x5: round(5 * $space);

// Breakpoints
$mq-breakpoints: (
    mobile:      320px,
    mobile_wide: 480px,
    tablet:      768px,
    desktop:     992px,
    wide:        1200px
);

@import "colors";
