.hotelier-addons {
	background: #fff;
	box-shadow: 0 0 1px rgba(0,0,0,.2);
	margin: 2% 1% 0 0;
	max-width: 952px;
	padding: 20px;
}

.hotelier-addons__list {
	list-style: none;
	margin: 3em 0 0;
	overflow: hidden;
}

.hotelier-addons__extension {
	float: left;
	margin: 0 2em 2em 0;
	padding: 0;
	vertical-align: top;
	width: 300px;

	&:nth-child(3n) {
		margin-right: 0;
	}
}

.hotelier-addons__extension-thumbnail {
	background-color: #f3efe7;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 50%;
	display: block;
	height: 200px;
}

.hotelier-addons__extension-content {
	border: 3px solid #f3efe7;
	padding: 24px;
}

.hotelier-addons__extension-title {
	font-size: 14px;
	margin-bottom: 1em;
	margin-top: 0;

	a {
		color: #23282d;
		text-decoration: none;
		transition-duration: .2s;
		transition-property: color,background-color,border-color;
		transition-timing-function: cubic-bezier(0.4,0,.2,1);

		&:hover {
			color: #1ca6ff;
		}
	}
}

.hotelier-addons__extension-button {
	background: #1ca6ff;
	border-radius: 200px;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	line-height: 1.5;
	margin-top: .5em;
	padding: 11px 30px;
	text-align: center;
	text-decoration: none;
	transition-duration: .2s;
	transition-property: color,background-color,border-color;
	transition-timing-function: cubic-bezier(0.4,0,.2,1);
	vertical-align: middle;

    &:hover {
		background: #6224d6;
		color: #fff;
    }
}
