/* tipsy and tooltip styles */
$error: #e7272d;

.error-tooltip {
	background-color: $error;
	border-radius: 3px;
	color: #FFF;
	font-size: 10px;
	max-width: 200px;
	padding: 5px 8px 4px 8px;
	position: absolute;
	top: 65px;
	z-index: 100000;

	&:after {
		border-bottom: 5px solid $error;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		content: '';
		display: block;
		height: 0;
		left: 50%;
		margin-left: -5px;
		position: absolute;
		top: -5px;
		width: 0;
	}
}

.tipsy {
	font-size: 10px;
	padding: 5px;
	position: absolute;
	z-index: 100000;
}

.tipsy-inner {
	background-color: #000;
	color: #FFF;
	max-width: 200px;
	padding: 5px 8px 4px 8px;
	text-align: center;
}

.tipsy-inner {
	border-radius: 3px;
}

.tipsy-arrow {
	border: 5px dashed #000;
	height: 0;
	line-height: 0;
	position: absolute;
	width: 0;
}

.tipsy-arrow-n {
	border-bottom-color: #000;
}

.tipsy-arrow-s {
	border-top-color: #000;
}

.tipsy-arrow-e {
	border-left-color: #000;
}

.tipsy-arrow-w {
	border-right-color: #000;
}

.tipsy-n .tipsy-arrow {
	border-bottom-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top: none;
	left: 50%;
	margin-left: -5px;
	top: 0px;
}

 .tipsy-nw .tipsy-arrow {
 	border-bottom-style: solid;
 	border-left-color: transparent;
 	border-right-color: transparent;
 	border-top: none;
 	left: 10px;
 	top: 0;
 }

 .tipsy-ne .tipsy-arrow {
 	border-bottom-style: solid;
 	border-left-color: transparent;
 	border-right-color: transparent;
 	border-top: none;
 	right: 10px;
 	top: 0;
 }

.tipsy-s .tipsy-arrow {
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-style: solid;
	bottom: 0;
	left: 50%;
	margin-left: -5px;
}

.tipsy-sw .tipsy-arrow {
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-style: solid;
	bottom: 0;
	left: 10px;
}

.tipsy-se .tipsy-arrow {
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-style: solid;
	bottom: 0;
	right: 10px;
}

.tipsy-e .tipsy-arrow {
	border-bottom-color: transparent;
	border-left-style: solid;
	border-right: none;
	border-top-color: transparent;
	margin-top: -5px;
	right: 0;
	top: 50%;
}

.tipsy-w .tipsy-arrow {
	border-bottom-color: transparent;
	border-left: none;
	border-right-style: solid;
	border-top-color: transparent;
	left: 0;
	margin-top: -5px;
	top: 50%;
}
