/****** Server Info ******/

.htl-ui-setting--server-info {
	margin-bottom: 0;
}

.htl-ui-setting--server-info-text {
	font-weight: 500;

	&--success {
		&:before {
			@include style-icon();
			content: '\f058';
			font-weight: 900;
			color: $color__ok;
			margin-right: $space;
		}
	}

	&--error {
		color: $color__error;

		&:before {
			@include style-icon();
			content: '\f071';
			font-weight: 900;
			color: $color__error;
			margin-right: $space;
		}
	}
}
