/****** Tooltips ******/

.htl-ui-tooltip {
	background-color: $color__text__dark;
	border-radius: 2px;
	color: #FFF;
	font-size: 11px;
	max-width: 200px;
	padding: $space ;
	position: absolute;
	top: 45px;
	z-index: 100000;

	&:after {
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		content: '';
		display: block;
		height: 0;
		left: $space__x2;
		// margin-left: -5px;
		position: absolute;
		top: -5px;
		width: 0;
	}

	&--error {
		background-color: $color__error;

		&:after {
			border-bottom: 5px solid $color__error;
		}
	}
}
