/****** Layout ******/

#hotelier-room-settings {
	overflow: hidden;
}

.htl-ui-layout--two-columns {
	display: flex;
}

.htl-ui-layout__column--left {
	flex: 0 0 200px;

	@media (min-width: 1200px) {
		flex: 0 0 250px;
	}
}

.htl-ui-layout__column--right {
	width: 100%;
}
