/*--------------------------------------------------------------
>>> SINGLE ROOM
----------------------------------------------------------------
*/

.room__gallery-link--single {
	font-size: var(--global--font-size-lg);
}

.room__gallery--single {
	text-align: left;
}

.room__price--single {
	font-size: var(--global--font-size-lg);
	margin: var(--global--spacing-vertical) 0;

	.amount {
		font-size: var(--global--font-size-xl);
	}
}

.room-available-rates {
	margin-right: auto;
	max-width: var(--responsive--aligndefault-width);
}

.room-available-rates__link {
	display: inline-block;
	font-size: var(--global--font-size-lg);
	margin-bottom: var(--global--spacing-vertical);
}

.room-deposit-wrapper {
	margin-right: auto;
	max-width: var(--responsive--aligndefault-width);
}

.room__deposit--single {
	margin-bottom: var(--global--spacing-vertical);
}

.room__non-cancellable-info--single {
	margin-bottom: var(--global--spacing-vertical);
	margin-right: auto;
	max-width: var(--responsive--aligndefault-width);
}

.room__min-max-stay--single {
	margin-bottom: var(--global--spacing-vertical);
	margin-right: auto;
	max-width: var(--responsive--aligndefault-width);
}

.room__details--single {
	margin-right: auto;
	max-width: var(--responsive--alignwide-width) !important;

	h3 {
		margin-bottom: var(--global--spacing-vertical);
		margin-top: var(--global--spacing-vertical);
	}

	ul {
		@include clear-list();
		padding-left: 0;
	}

	.datepicker-form {
		margin-right: auto;
		max-width: var(--responsive--aligndefault-width);
	}
}

.room__meta--single {
	border-top: 3px solid var(--global--color-secondary);
	margin-bottom: var(--global--spacing-vertical);
}

.room__facilities--single {
	margin-bottom: var(--global--spacing-vertical);
}

.room__description--single {
	border-top: 3px solid var(--global--color-secondary);
	margin-bottom: var(--global--spacing-vertical);
	margin-left: auto;
	margin-right: auto;
	max-width: var(--responsive--alignwide-width) !important;

	& > * {
		margin-bottom: var(--global--spacing-vertical);
		margin-top: var(--global--spacing-vertical);
	}
}

.related-rooms {
	margin-left: auto;
	margin-right: auto;
	margin-top: calc(2 * var(--global--spacing-vertical)) !important;
	max-width: var(--responsive--alignwide-width) !important;
}

.related-rooms-title {
	margin-bottom: var(--global--spacing-vertical);
	margin-top: var(--global--spacing-vertical);
}

.room__rates--single {
	margin: calc(2 * var(--global--spacing-vertical)) auto 0 !important;
	max-width: var(--responsive--alignwide-width) !important;
}

.room__rates-list {
	@include clear-list();
	border: 3px solid var(--global--color-secondary);
	margin-top: var(--global--spacing-vertical);
	padding: 0;
}

.room__rate--single {
	border-bottom: 3px solid var(--global--color-secondary);
	padding: var(--global--spacing-vertical);

	&:last-child {
		border-bottom: none;
	}
}

.rate__description--single {
	font-size: var(--global--font-size-sm);
}

.button--check-availability {
	display: inline-block;
}

.rate__price-wrapper--single {
	margin-bottom: calc(0.5 * var(--global--spacing-vertical));
}

.rate__conditions-title--single {
	font-weight: bold;
}

.rate__deposit--single {
	margin-top: calc(0.5 * var(--global--spacing-vertical));
}
